.tags
.make-*
.mypy_cache
.DS_Store
*~
*.bak
*.sw[a-z]
proto.armv7l
proto.armv7l.debian
proto.armv7l.openwrt
proto.x86_64
*.deb
*.ipk
base/base_def.py
base/cloud_rpc_pb2_grpc.py
doc/*-body.html
coverage/
_tools.*/
_venv.*
.gcloud
