# We have to allow dhcp replies on our wan port, or we can't join the world
ACCEPT UDP FROM IFACE wan TO AP DPORTS 68

# mcp and networkd on the satellite nodes need to talk to daemons here
# ssh is needed for upgrade
ACCEPT TCP FROM RING internal TO AP DPORTS 22 3131 3132 3133 3135
ACCEPT UDP FROM RING internal TO AP DPORTS 1812

# Allow clients to ping the AP
ACCEPT ICMP FROM IFACE NOT wan TO AP

# Expose some services to our clients
ACCEPT UDP FROM IFACE NOT wan TO AP DPORTS 53 67     # DNS, DHCP
ACCEPT TCP FROM IFACE NOT wan TO AP DPORTS 80 443    # HTTP(s)
ACCEPT TCP FROM RING core TO AP DPORTS 9090	     # prometheus

# The core ring is allowed to access all the others
ACCEPT FROM RING core TO RING standard
ACCEPT FROM RING core TO RING guest
ACCEPT FROM RING core TO RING devices
ACCEPT FROM RING core TO RING unenrolled
ACCEPT FROM RING core TO IFACE wan

# The standard ring can talk to guests, devices, and the outside world
ACCEPT FROM RING standard TO RING guest
ACCEPT FROM RING standard TO RING devices
ACCEPT FROM RING standard TO IFACE wan

ACCEPT FROM RING devices TO IFACE wan
ACCEPT FROM RING devices TO RING guest

ACCEPT FROM RING guest TO IFACE wan

