#
# Copyright 2018 Brightgate Inc.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#


# https://github.com/ai/browserslist
> 0.5% and not ie > 0 and not dead
last 3 chrome versions
last 3 firefox versions
firefox esr
last 3 safari versions
last 2 edge versions

